@import "css-tree";
@import "variable";
@import "functions";
@import "default-css";

.resume-body {
    display: flex;
    flex-wrap: wrap;
}

.left-side{
    order: 1;
    margin-right: 40px;
}
.right-side{
    order: 2;
}

@media screen and (max-width:768px){
    .left-side{
        order: 2;
        margin-top: 10px;
    }
    .right-side{
        order:1;
    }

    
}

.page-logo {
    width: 70px;
    // border-radius: 50%;
}

.nav-custom{
    margin: 0 10%;

    .image-zoom{
        transition: transform .4s;
    }
    
    .image-zoom:hover{
        transform: scale(1.25);
    }
}

.resume-title{
    // margin-left: 15%;
    margin-top: -5%;
    margin-bottom: 10px;
    h1{
        margin-bottom: .1em;
    }
    .resume-contact{
        // padding: 0 1%;
        // margin-bottom: .5em;
        br{
            display: none;
        }
        
        @media screen and (max-width:768px){
            br{
                display: inline;
            }
        }
        margin-top: 1em;
        a{
            margin-right: 2em;
            margin-left: .5em;
        }
        a:hover{
            color: $main-color;
        }
    }
}

.socials {
    .social-icon{
        font-size: 18px;
        a:hover{
            color: $main-color;
        }
    }
}

.image-zoom{
    transition: transform .4s;
}

.image-zoom:hover{
    transform: scale(1.025);
}

.resume-socials{
    margin-left: 1em;
    i{
        font-size: 16px;
        margin-right: 1em;
    }
}

// .column-divider {
//     margin: 0 30px;
// }

/// EDUCATION BOX 
.resume-section-title{
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
    margin: 30px 0;
}

.info-box{
    padding: 24px 20px;
    border-radius: 5px;
    @include box-shadow($shadows);
    box-shadow: 0px 10px 20px 4px #00000015;
    -webkit-box-shadow: -1rem 0 3rem #000;
    box-shadow: -1rem 0 3rem #000;
    margin: 2em 0;
    background-color: #332c2c;
    h4 {
        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
        color: white;
    }

    h5{
        font-size: 17px;
        color: white;
    }
    .edu-year {
        margin: 10px 0;
        color: $main-color;
    }

    img{
        width: 100%;
    }

    ul{
        padding-left: 20px;

        li{
        list-style-type: disc;
        margin-bottom: 1em;
        // list-style-position: inside;
        // text-indent: -1em;
        // padding-left: 1em;
        font-size: 16px;
        }
    }

    p {
        font-size: 16px;
    }
}

.skills-icon img{
    width: 50px;
}

.invert{
    img{
        filter: invert(1);
    }
}

.circle-progress{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    // margin-top: 1em;
    padding: 15%;

    .row{
        margin-bottom: 1.5em;
    }
}


.work-responsibility{
    i{
        margin-right: 1em;
        margin-left: 1em;
    }
}

.resume-certificates{
    padding: 0 5%;
    margin-top: 0;
    img{
        width:80%;
    }
    h3{
        margin: 0 0;
    }
}

@media screen and (min-width: 1800px){
    .container {
        max-width: 1600px;
    }
}

.container{
    width: 100% !important;
}


