@import "variable";

.page-logo {
    width: 70px;
    // border-radius: 50%;
}

.nav-custom{
    margin: 0 10%;

    .nav-item{
        .btn:hover{
            color:white;
        }
    }
}

@media screen and (max-width:576px){
    .down-pointer{
        display: none;
    }
    

    .mh-home .img-border{
        margin-top: 100px;
        width: 70%;
        height: 70%;
    }
    .mh-home .mh-header-info{
        margin: 0;
        padding: 0;
    }

    .mh-about-img{
        display: none;
    }

    .mh-about-tag{
        display:none;
    }

    .work-logos{
        width: 60%;
    }

    


}

.skills-icons {
    img{
        width:13%;
        padding: 1em;
    }

    margin: 1em;
}

.mh-about-tag {
    margin: 4em 0;
    margin-bottom: 1em;
}

.work-logos {
    h5{
        font-size: 20px;
        font-weight: normal;
    }

    img{
        margin: 40px;
        width: 100%;
        text-align: center;
    }

    .playstation {
        width: 90%;
        margin-left: 5%;
        filter: invert(1);
    }

    .bebop {
        margin-left: 5%;
        width: 90%;
        //filter:invert(1);
    }

    .gaia {
        margin-left: 15%;
        width: 70%;
    }

    .sandc {
        width: 50%;
    }
        
}

.image-zoom{
    transition: transform .4s;
}

.image-zoom:hover{
    transform: scale(1.25);
}

.home-padding{
    // margin: 6% 0;
}

.profile-image {
    position: relative;
    // width: 100%;
}


.profile-pic-pixels {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: 1s ease;
}

.profile-pic-pixels:hover {
    opacity: 1;
}

.down-pointer{
    margin-top: 8%;
    // margin-bottom: 100px;
    padding: 0 0;
    img {
        width: 100px;
        height: 100px;
        // transform: rotate(120deg);
    }
}

.about-p{
    p{
        font-size: 18px;
        font-weight: normal;
    }
}

.sprite-img{
    transform: scaleX(-1);
    margin-top: 10%;
}

.mh-about{
    background-color: $main-dark;
    padding: 1em 0;
}

.mh-portfolio{
    background-color: $main-dark;
}

.mh-service{
    margin-bottom: 5%;
}

.blog-inner{
    .learn-more{
        font-size: 18px;
    }
    
}

.contact {
    background-color: $main-dark;
    padding: 3%;

    h3{
        padding: 0;
        margin: 1em 0;
    }

    p{
        font-size: 20px;
        margin-bottom: 2em;
    }

    .contact-info{
        margin-top: -7%;
        margin-left: 5%;
        margin-right: -5%;
        font-size: 18px;
        
        .contact-text{
            text-align: start;
            li {
                margin: 2em;
            }
            i{
                margin-right: 1em;
            }
        }

        

        .social-icon{
            margin-left: 15%;
            margin-top: 1em;
            i {
                font-size: 25px;
            }
        }
    }

    // .contact-form{
    //     padding: 0 20%;
    // }
}

footer {
    margin-top: 3em;
    margin-bottom: 2em;

    .col{
        margin: 1em 0;
    }

    .social-icon{
        // margin-left: 15%;
        // margin-top: 1em;
        i {
            font-size: 30px;
        }
    }

    .contact-text{
        // text-align: start;
        li {
            margin-bottom: 1em;
        }
        i{
            margin-right: 1em;
            font-size: 20px;
        }
        text{
            font-size: 30px;
        }
    }

    .footer-info{
        margin-top: 5em;
    }
}

@media screen and (max-width:576px) {
    .page-logo{
        width: 50px;
        margin: 10px;
    }
    .contact .contact-info .contact-text {
        text-align: center;
    }
    .contact .contact-info {
        align-content: center;
        margin-left: 0;
        margin-right: 0;
    }
}